USE [C:\SQL\MSSQL13.SQLEXPRESS\MSSQL\DATA\FOREDUCATION.MDF]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 09.10.2020 12:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[idRole] [int] IDENTITY(1,1) NOT NULL,
	[NameRole] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[idRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 09.10.2020 12:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](255) NOT NULL,
	[SecondName] [nvarchar](255) NOT NULL,
	[LastName] [nvarchar](255) NULL,
	[Login] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[idRole] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([idRole], [NameRole]) VALUES (1, N'Директор')
INSERT [dbo].[Role] ([idRole], [NameRole]) VALUES (2, N'Заказчик')
INSERT [dbo].[Role] ([idRole], [NameRole]) VALUES (3, N'Конструктор')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([idUser], [FirstName], [SecondName], [LastName], [Login], [Password], [idRole]) VALUES (1, N'Иван ', N'Викторовна', NULL, N'loginDEptn2018', N'NXXNVO', 2)
INSERT [dbo].[User] ([idUser], [FirstName], [SecondName], [LastName], [Login], [Password], [idRole]) VALUES (2, N'Иван ', N'Семёновна', NULL, N'loginDEjwl2018', N'D4ZYHt', 4)
INSERT [dbo].[User] ([idUser], [FirstName], [SecondName], [LastName], [Login], [Password], [idRole]) VALUES (3, N'Иван ', N'Вячеславовна', NULL, N'loginDEmel2018', N'8zmoSV', 5)
GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([idRole])
REFERENCES [dbo].[Role] ([idRole])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
