create database [ForEducation_Nikita_3isp11-7]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 14.10.2020 16:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[idRole] [int] IDENTITY(1,1) NOT NULL,
	[NameRole] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[idRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 14.10.2020 16:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[diServices] [int] IDENTITY(1,1) NOT NULL,
	[Services] [nvarchar](255) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[diServices] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 14.10.2020 16:37:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](255) NOT NULL,
	[FirstName] [nvarchar](255) NOT NULL,
	[MidleName] [nvarchar](255) NULL,
	[Login] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[idRole] [int] NOT NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([idRole], [NameRole]) VALUES (1, N'Директор')
INSERT [dbo].[Role] ([idRole], [NameRole]) VALUES (2, N'Заказчик')
INSERT [dbo].[Role] ([idRole], [NameRole]) VALUES (3, N'Конструктор')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([diServices], [Services], [Price]) VALUES (1, N'Урок в группе немецкого языка для школьников', CAST(3540.00 AS Decimal(10, 2)))
INSERT [dbo].[Service] ([diServices], [Services], [Price]) VALUES (2, N'Киноклуб португальского языка для студентов', CAST(1644.00 AS Decimal(10, 2)))
INSERT [dbo].[Service] ([diServices], [Services], [Price]) VALUES (3, N'Индивидуальный урок испанского языка с преподавателем-носителем языка', CAST(8254.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([idUser], [LastName], [FirstName], [MidleName], [Login], [Password], [idRole], [Image]) VALUES (1, N'Иван ', N'Викторов', N'', N'loginDEptn2018', N'NXXNVO', 2, NULL)
INSERT [dbo].[User] ([idUser], [LastName], [FirstName], [MidleName], [Login], [Password], [idRole], [Image]) VALUES (2, N'Егор', N'Титов', N'Викторович', N'loginDEjwl2018', N'D4ZYHt', 4, NULL)
INSERT [dbo].[User] ([idUser], [LastName], [FirstName], [MidleName], [Login], [Password], [idRole], [Image]) VALUES (3, N'Иван ', N'Вячеславовна', NULL, N'loginDEmel2018', N'8zmoSV', 5, NULL)
GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([idRole])
REFERENCES [dbo].[Role] ([idRole])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
/****** Object:  StoredProcedure [dbo].[vvod_max_min]    Script Date: 14.10.2020 16:37:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[vvod_max_min] 
@price_max decimal(10,2),
@name nvarchar(max),
@price_min decimal(10,2)
as
if((@price_max is null)and(@name is null) and(@price_min is null)) --1
	begin
		select*from Service
	end
------------------------------------------------
		else if((@price_max is null)and ((@price_min is null))) --2
	begin
		select*from Service
		--where(Price < @price_max) and (Services =@name) and ( Price >@price_min)
		where  (Services =@name)
	end
------------------------------------------------
		else if((@price_max is null)) --3
	begin
		select*from Service
		--where(Price < @price_max) and (Services =@name) and ( Price >@price_min)
		where  (Price > @price_min) and   (Services =@name)
	end
-------------------------------------------------
	else if((@price_min is null)) --4
	begin
		select*from Service
		--where(Price < @price_max) and (Services =@name) and ( Price >@price_min)
		where  (Price < @price_max) and (Services =@name)
	end
-------------------------------------------------
	else if((@name is null)) --5
	begin
		select*from Service
		--where(Price < @price_max) and (Services =@name) and ( Price >@price_min)
		where  ( Price >@price_min) and (Price < @price_max)
	end
-------------------------------------------------
	else if((@name is null) and ((@price_min is null))) -- 6
	begin
		select*from Service
		--where(Price < @price_max) and (Services =@name) and ( Price >@price_min)
		where  ( Price <= @price_max)
	end
--------------------------------------------------
	else if((@name is null) and ((@price_max is null))) -- 7
	begin
		select*from Service
		--where(Price < @price_max) and (Services =@name) and ( Price >@price_min)
		where  ( Price >=@price_min)
	end
-------------------------------------------------
	else
	select*from Service
	where(Price <= @price_max) and (Services =@name) and ( Price >=@price_min)

	
GO
